{% extends "base.html" %}
{% comment %} {% load static %} {% endcomment %}

{% block page_title %}
    Jeronimo Dcosta
{% endblock page_title %}

{% block content %}
    <div class="container">
        {% comment %} 1st row {% endcomment %}
        <div class="row main-row justify-content-center">
            {% comment %} 1st row - left col {% endcomment %}
            <div class="main-left-col col-sm-5 split-between sticky-md-top">
                <div class="row remove-padding sticky-md-top">
                    Jeronimo Dcosta <br>
                    Software Engineer <br>
                    <br>
                    I turn POC's into products. <br>
                    <br>
                    <nav class="nav flex-column">
                        <a class="nav-link active" aria-current="page" href="#">About</a>
                        <a class="nav-link" href="#">Experience</a>
                        <a class="nav-link" href="#">Projects</a>
                    </nav>  
                </div> 
                <div class="row social-icons">
                    Social Media Icons
                </div>                                    
            </div>
            {% comment %}  1st row - right col {% endcomment %}
            <div class="col-sm-5 main-right-col">
                <div class="row">
                    About <br>
                    <br>
                    I started working with computers when I was in the 5th Grade. Inititally it 
                    was just me playing games. Then later on I learnt about coding and took a shot 
                    with SQL. It was fun and I created my first webapp. 
                    After this, I never looked back. I took up Python, HTML, CSS and Javascript and just
                    started building. 
                    
                    I  am keen to always keep learning about the latest and the greatest in tech.
                    <br>
                    <br>
                </div>
                <div class="row">
                    Experience<br>
                    <br>
                    <div class="container row">
                        <div class="col-sm">
                            July 2022 - Present<br>
                            JP Morgan Chase
                        </div>
                        <div class="col-sm">
                            Worked as a Software Engineer
                        </div>
                    </div>
                    <div class="container row">
                        <div class="col-sm">
                            July 2022 - Present<br>
                            Utah Climate Center
                        </div>
                        <div class="col-sm">
                            Worked as a Software Engineer
                        </div>
                    </div>
                    <div class="container row">
                        <div class="col-sm">
                            July 2022 - Present<br>
                            Aspire Research Center
                        </div>
                        <div class="col-sm">
                            Worked as a Research Assistant
                        </div>
                    </div>
                    <div class="container row">
                        <div class="col-sm">
                            July 2022 - Present<br>
                            eClinicalWorks
                        </div>
                        <div class="col-sm">
                            Worked as a Software Engineer
                        </div>
                    </div>
                </div>
                <div class="row">
                    Projects<br>
                    <br>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                
                </div>
            </div>
        </div>        
    </div>
{% endblock  %}

